@import '../../styles/styles.scss';

.projects {
    height: 100%;
    width: 100%;
    background-color: #fff; 
    text-align: center;
    color: #222;

    .projects-wrapper {
        padding: 85px 20px 20px 20px;
        h1 {
            // @include center-title;
            // margin-top: 85px;
            margin: 0 0 50px 0;
            font-size: 30px;
        }
        ul {
            list-style-type: none;
            padding: 0;
            margin: 0;
            li {
                margin-bottom: 20px;
                display: inline-block;
                img {
                    width: 100%;
                    display: inline-block;
                    // margin-right: 50px;
                }
                p {
                    padding: 0 10px;
                    box-sizing: border-box;
                    margin: 5px 0;
                    span {
                        font-weight: bold;
                        &.login-creds {
                            display: block;
                            margin: 5px 0;
                            font-size: 14px;
                         }
                    }
                }
                .button-wrapper {
                    padding: 10px 0 20px 0;
                    button {
                        padding: 10px;
                        font-size: 14px;
                        border-radius: 5px;
                        cursor: pointer;
                        border: 2px solid black;
                        background-color: #fff;
                        outline: none;
                        transition: all .5s;
                        &:first-of-type {
                            margin-right: 10px;
                        }
                        &:hover {
                            background-color: #000;
                            color: #fff;
                            border-color: #000;
                            font-weight: 500;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 390px) {
    .projects {
        .projects-wrapper {
            h1 {
            }
            ul {
                li {
                    img {
                        width: 355px;
                    }
                    p {
                        width: 355px;
                        margin: 10px 0;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 740px) {
    .projects {
        .projects-wrapper {
            h1 {
            }
            ul {
                li {
                    p {
                        font-size: 18px;
                        height: 100px;
                        span {
                            &.login-creds {
                               display: block;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 1105px) {
    .projects {
        .projects-wrapper {
            width: 1000px;
            margin: 0 auto;
            ul {
                li {
                    margin-bottom: 70px;
                }
            }
        }
    }
}