@import '../../styles/styles.scss';

.home-title-section {
    .name-tag {
        
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        top: 40%;
        text-align: center;
        width: 280px;
        height: 200px;
        background-color: #FF5722;
        color: #fff;
        border-radius: 5%;
        -webkit-box-shadow: 10px 10px 5px -4px rgba(163,163,163,1);
        -moz-box-shadow: 10px 10px 5px -4px rgba(163,163,163,1);
        box-shadow: 10px 10px 5px -4px rgba(163,163,163,1);
        .name-tag-wrapper {
            margin: 0;
            .intro {
                .greeting {
                    font-size: 20px;
                    span {
                        display: block;
                        text-transform: uppercase;
                        letter-spacing: 3px;
                        font-size: 50px;
                        font-weight: bold;
                    }
                }
            }
            .name {
                background-color: #fff;
                h1 {
                    padding: 10px 0;
                    color: #ff5722;
                    font-size: 32px;
                    line-height: 1.5em;
                    margin-top: 20px;
                }
            }
        }
    }
}