@import '../../styles/styles.scss';

.contact {
    height: 100%;
    width: 100%;
    text-align: center;
    color: #222;
    .contact-wrapper {
        padding: 85px 20px 20px 20px;
        h1 {
            margin: 0;
        }
        ul {
            margin: 35px 0 20px 0;
            a {
                display: inline-block;
                margin: 20px 0;
                img {
                    width: 50px;
                }
            }
        }
    }

}

@media screen and (min-width: 375px) {
    .contact {
        .contact-wrapper {
            ul {
                margin: 125px auto 0 auto;
                max-width: 450px;
                display: inline-block;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-around;
            }
        }
    }
}